.ago-title {
    border-bottom: 1px dotted gray;
}

.center {
    text-align: center;
}

.display-table {
    margin: 4px 12px 4px 0px;
}

.float-table {
    float: left;
}

.display-table > table {
    max-width: 95%;
    width: 100%;
}

.display-table > table > tbody > tr > td,
.display-table > table > tbody > tr > th {
    border: 2px solid #882222;
    padding: 2px 2px 2px 2px;
    white-space: nowrap;
}

a {
    color: #CC8;
}
