.ago-title {
    border-bottom: 1px dashed gray;
}

.explain {
    border-bottom: 1px dashed gray;
}

.center {
    text-align: center;
}

.display-table {
    margin: 4px 12px 4px 0px;
}

.float-table {
    float: left;
}

.display-table > table {
    max-width: 95%;
    width: 100%;
}

.small-table > table {
    max-width: 45%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.display-table > table > tbody > tr > td,
.display-table > table > tbody > tr > th {
    border: 2px solid #882222;
    padding: 2px 2px 2px 2px;
    white-space: nowrap;
    text-align: center;
}

a {
    color: #CC8;
}

.img24 {
    max-height: 24px;
    max-width: 24px;
}

.img32 {
    max-height: 32px;
    max-width: 32px;
}

div.sourcelinks {
    text-align: center;
    border-top: 2px solid #400;
}

ul.sourcelinks li{
    text-align: center;
    display:inline;
    padding:0 8px;
    background: black;
}

ul.sourcelinks a {
    display:inline-block;
    padding:0px 10px;
}

ul.pagelist {
    margin-top: 4px;
    padding-left: 0;
    text-align:left;
}
ul.pagelist li {
    display:inline;
    padding:0 3px;
}
ul.pagelist a {
    display:inline-block;
    padding:0px 10px;
    border:1px solid #000000;
}
ul.pagelist a:hover,
ul.pagelist a.current {
    background:#0d7963;
    color:#fff;
    text-decoration: none;
}
